gradle.properties
lsp/
.gradle
build/
target/
*.iml
.idea
out/
test-output/
grammars/gen
grammars/src/main/antlr/gen/
/archie-all/src/main/resources
/archie-all/src/test/resources/multi test/
/archie-all/src/test/resources/single test/
